.item-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*display: flex;: Utiliza el modelo de caja flexible (Flexbox),
lo que permite que los elementos dentro de .item-task se alineen de manera flexible.
justify-content: space-between;: Distribuye el espacio entre los elementos hijos,
colocando el primer elemento al inicio y el último al final del contenedor, dejando espacio igual entre ellos.
align-items: center;: Alinea verticalmente los elementos hijos en el centro del contenedor.*/

li.finished .label {
    opacity: .4;
    text-decoration: line-through;
}
/*li.finished .label: Aplica estilos a los elementos con la clase .label que son hijos de un <li> con la clase finished.
opacity: .4;: Reduce la opacidad del texto al 40%, lo que lo hace más tenue.
text-decoration: line-through;: Agrega una línea que atraviesa el texto, indicando que la tarea está finalizada.*/

body{
    background-color: pink;
}